<<<<<<< HEAD
<<<<<<< HEAD
<!--********************************************************************************
 * WEB322 – Assignment 06
 *
 * I declare that this assignment is my own work in accordance with Seneca's
 * Academic Integrity Policy:
 *
 * https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
 *
 * Name: Julia Alekseev Student ID: 051292134 Date: Nov 29, 2023
 *
 * Published URL: https://dull-red-lovebird-shoe.cyclic.app/
 ********************************************************************************-->

=======
>>>>>>> parent of 6bd6358 (a6 complete)
=======
>>>>>>> parent of 6bd6358 (a6 complete)
<%- include('partials/header') %>

<body>
  <%- include('partials/navbar', {page: '/404'}) %>
<br>
  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md2">
            <figure>
                <img class="w-full" src="https://img.freepik.com/premium-vector/404-error-page-found-concept-west-desert-landscape-with-cactus-lost-raccoon_441800-234.jpg?w=2000" alt="Error-Racoon-404" />
              </figure>
          <h1 class="text-5xl font-bold">404 Error: Page Not Found</h1> 
          <br/>
          <p class="text-5xl font-bold"><%= message %></p>

          <p class="py-6">
            Oops! It seems like you've ventured into the territory of the mischievous Raccoon Team. These crafty critters have hidden the page you're looking for in their secret stash. Don't worry; we're on the case!
          </p>

          <p class="py-6">
            While we send out our top tech-savvy raccoons to retrieve the missing content, you can explore the rest of our website or enjoy some raccoon-themed trivia below:
          </p>

          <h2 class="text-5x3 font-bold">Raccoon Team Trivia:</h2>

          <p class="py-6">Did you know that raccoons are incredibly clever and known for their problem-solving skills? They're like the tech wizards of the animal kingdom, always up to some digital mischief. Keep an eye out for their return; they might just have the missing page with them!</p>

          <p class="py-6">In the meantime, if you have any urgent inquiries or need assistance, feel free to reach out to your local dumpster raccoon. We promise we'll have this sorted out in no time.</p>

          <h2 class="text-5x3 font-bold">Raccoons: Unmasking Mischief Since Forever!</h2>

        </div>
      </div>
    </div>
</body>

</html>