<!--********************************************************************************
 * WEB322 – Assignment 06
 *
 * I declare that this assignment is my own work in accordance with Seneca's
 * Academic Integrity Policy:
 *
 * https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
 *
 * Name: Julia Alekseev Student ID: 051292134 Date: Nov 29, 2023
 *
 * Published URL: https://dull-red-lovebird-shoe.cyclic.app/
 ********************************************************************************-->

<%- include('partials/header') %>

<body>
  <%- include('partials/navbar', {page: '/404'}) %>
<br>
  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md2">
            <figure>
                <img class="w-full" src="https://www.openlogic.com/sites/default/files/image/2020-10/image-blog-tsl-raccoon-attack.jpg" alt="Error-Racoon-500" />
              </figure>
          <h1 class="text-5xl font-bold">Raccoon Takeover: HTTP 500 - When Our Servers Hired a Mischief Manager!</h1> 
          <br/>
          <p class="text-4xl font-bold"><%= message %></p>

          <p class="py-6">
            As our elite team of tech-savvy squirrels embarks on a mission to recover the elusive content, take a detour through the rest of our website or indulge in some raccoon-themed trivia below:
        </p>
        
        <h2 class="text-5x3 font-bold">Raccoon Team Trivia:</h2>
        
        <p class="py-6">
            Ever marveled at the ingenuity of raccoons? Renowned for their problem-solving prowess, they're the true tech wizards of the animal kingdom, always stirring up some digital mischief. Keep an eye out for their triumphant return – the missing page might just be in their clutches!
        </p>
        
        <p class="py-6">
            While you await their triumphant return, if you have pressing inquiries or need assistance, don't hesitate to contact your local dumpster raccoon. Rest assured, we're working tirelessly to resolve this and will have everything back in order before you know it.
        </p>
        

          <h2 class="text-5x3 font-bold">Raccoons: Unmasking Mischief Since Forever!</h2>

        </div>
      </div>
    </div>
</body>

</html>