<!--********************************************************************************
 * WEB322 – Assignment 06
 *
 * I declare that this assignment is my own work in accordance with Seneca's
 * Academic Integrity Policy:
 *
 * https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
 *
 * Name: Julia Alekseev Student ID: 051292134 Date: Nov 28, 2023
 *
 * Published URL: https://dull-red-lovebird-shoe.cyclic.app/
 ********************************************************************************-->

<%- include('partials/header') %>  

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/about'}) %>

  <br />
  
  <div class="container mx-auto p-4">
    
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About me</h1>

          <p class="py-6">Hello, I'm Julia Alekseev, an Interactive Media Designer with a strong passion for technology and creativity. 
            I'm currently pursuing an advanced diploma in Computer Programming and Analysis, where I dive into the exciting world of coding and data analysis.
             My journey in the realm of design and technology has been both thrilling and fulfilling, and I'm always eager to learn and create.</p>
        </div>
      </div>
    </div>

    <br>
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>

        <div class="card bg-base-100 shadow">
          <figure>
            <img class="w-full" alt="Julias-eyes" src="https://scontent.fybz1-1.fna.fbcdn.net/v/t1.18169-9/432058_3387429928380_1122295834_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=4dc865&_nc_ohc=538dVYUXTHsAX-Lb83R&_nc_ht=scontent.fybz1-1.fna&oh=00_AfBNhfs4bXfpNI9NqyZPsn51fFj5dEEjtE30fVGiLDSl7g&oe=65808684"/>
          </figure>
        </div>
      </div>
      <div>
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Hobbies</h2>
            <p>Outside of my academic and professional pursuits, my interests are as diverse as they come. 
                I have a deep-rooted passion for healthcare, driven by the belief that technology can revolutionize the way we deliver and access healthcare services. 
                Additionally, I'm a dedicated advocate for animal welfare, actively involved in various initiatives aimed at improving the lives of our furry friends.</p>
                <p>On the creative side, I find joy in the art of cooking, experimenting with different cuisines, and discovering new vegan recipes. 
                    Drawing is another cherished hobby of mine, where I find solace and inspiration in the strokes of a pencil or the digital canvas. 
                    And to unwind and add a bit of excitement to my life, I have a soft spot for horror movies. The suspense and thrill of a well-crafted horror flick are the perfect escape from the daily grind.</p>
                    <p>Lastly, like a true millennial, I proudly wear the title of "dog mom," sharing my life with a lovable canine companion who brings boundless joy and purpose to my life. 
                        From long walks to cuddles on the couch, every moment with my four-baby is pure love.</p>
          </div>

        </div>
      </div>
    </div>
</body>

</html>