<!--********************************************************************************
 * WEB322 – Assignment 06
 *
 * I declare that this assignment is my own work in accordance with Seneca's
 * Academic Integrity Policy:
 *
 * https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
 *
 * Name: Julia Alekseev Student ID: 051292134 Date: Nov 28, 2023
 *
 * Published URL: https://dull-red-lovebird-shoe.cyclic.app/
 ********************************************************************************-->

<%- include('partials/header') %>

<body>
  <%- include('partials/navbar', {page: '/'}) %>
  <br />

  <div class="container mx-auto p-4">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome to the Journey of LEGO</h1>

          <p class="py-6">Building Dreams, One Brick at a Time</p>
      
          <a href="/lego/sets" class="btn btn-primary">Let the fun begin</a>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/700.1-1.jpg" alt="Lego set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Extra-Large Gift Set</h2>
            <p>
              This set, the original Automatic Binding Bricks (ABB) version released in 1949, marked the beginning of LEGO history and features five colors with slotted bricks, doors, and windows, along with two additional art cards (not inventoried).</p>
              <div class="card-actions justify-end">
                <a href="/lego/sets/700.1-1" class="btn btn-primary">View</a>
              </div>
              
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/1210-2.jpg" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Small Store Set</h2>
            <p>Introducing set 1210-2 from 1955—a cherished piece of LEGO history. This iconic creation has left a lasting impression on LEGO enthusiasts worldwide. Let's discover its unique features and story.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/1210-2" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/700.a-1.jpg" alt="Lego Set" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Small Brick Set (ABB)</h2>
            <p>Introducing the Small Brick Set (ABB) from 1949—a true LEGO classic. This vintage masterpiece holds a special place in LEGO history, reflecting the pioneering spirit of its era. Let's dive into the timeless charm and significance of this iconic LEGO creation.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/700.A-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

</html>